<% include ../header %>

<div class="board">
  <% if (article) { %>
  <div class="article">
    <div class="header">
      <div class="title"><%=article.title%></div>
      <div>
        <span class="author"><%=article.author%></span>
        <span class="date"><%=util.date(article.createdAt)%></span>
      </div>
    </div>
    <div class="body">
      <div class="content">
        <%-article.content.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>')%>
      </div>
      <div class="comments" data-bbs-comments data-article-id="<%=article.id%>">
        <div class="item" style="display:none" data-bbs-comment-template>
          <div class="header">
            <span class="author" data-author>author</span>
            <span class="date" data-date>date</span>
          </div>
          <div class="body" data-content>content.replace...</div>
          <div data-update-form-slot></div>
          <div class="footer" data-if-editable>
            <a href="#" data-update-btn class="btn">수정</a>
            <a href="#" data-cancel-update-btn class="btn">취소</a>
            <a href="#" data-delete-btn class="btn">삭제</a>
          </div>
        </div>
      </div>
      <% if (user) { %>
      <form class="comment-form create" data-bbs-comment-create>
        <input type="hidden" name="articleId" value="<%=article.id%>">
        <textarea name="content"></textarea>
        <input type="submit" class="btn" value="저장">
      </form>
      <form class="comment-form update" data-bbs-comment-update>
        <textarea name="content"></textarea>
        <input type="submit" class="btn" value="저장">
      </form>
      <% } %>
    </div>
    <div class="footer">
      <% if (user && (user.isAdmin || user.id == article.user_id)) { %>
      <a href="#" onclick="bbs.Article.update('<%=board.name%>', <%=article.id%>); return false" class="btn">수정</a>
      <a href="#" onclick="bbs.Article.delete('<%=board.name%>', <%=article.id%>); return false" class="btn">삭제</a>
      <% } %>
    </div>
  </div>
  <% } %>

  <%  if (articles.length == 0) { %>
  <p class="empty">게시물이 없습니다.</p>

  <% } else { %>
  <div class="header">
    <div class="row">
      <div class="id">#</div>
      <div class="title">제목</div>
      <div class="author">글쓴이</div>
      <div class="hit">조회</div>
      <div class="date">날짜</div>
    </div>
  </div>
  <div class="body">
    <% articles.forEach(article => { %>
    <div class="row">
      <div class="id center"><%=article.id%></div>
      <div class="title"><a href="<%-buildQuery({id: article.id})%>"><%=article.title%></a></div>
      <div class="author center"><%=article.author%></div>
      <div class="hit center"><%=article.hit%></div>
      <div class="date center"><%=util.date(article.createdAt)%></div>
    </div>
    <% }); %>
  </div>
  <% } %>
  <div class="footer">
    <div class="paging">
      <% if (paging.first) { %><a href="<%-buildQuery({page: paging.first, id: null})%>" class="first">처음</a><% } %>
      <% if (paging.prev) { %><a href="<%-buildQuery({page: paging.prev, id: null})%>" class="prev">이전</a><% } %>
      <% for(let p=paging.start; p<=paging.end; p++) { %>
      <a class="<%=(p == paging.current) ? 'current' : ''%>" href="<%-buildQuery({page: p, id: null})%>"><%=p%></a>
      <% } %>
      <% if (paging.next) { %><a href="<%-buildQuery({page: paging.next, id: null})%>" class="next">다음</a><% } %>
      <% if (paging.last) { %><a href="<%-buildQuery({page: paging.last, id: null})%>" class="last">끝</a><% } %>
    </div>
    <form class="search">
      <%-buildHiddens({page: null, search: null, id: null})%>
      <input type="text" name="search" placeholder="Search..." value="<%=query.search%>">
      <input type="submit" value="검색">
    </form>
    <div class="btns">
      <a class="btn" href="/write?board=<%=board.name%>">글쓰기</a>
    </div>
  </div>
</div>

<% include ../footer %>